<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app NodeJS and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius error alias natus, tempore consequuntur modi dolorum? Nemo ipsum architecto reiciendis velit harum odio possimus eos exercitationem optio molestias. Illo, laudantium?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, sint unde vitae vel possimus rerum cumque hic? Reprehenderit, iusto voluptatem officiis voluptatum dignissimos qui obcaecati quo necessitatibus, vero labore porro.</p>
    <a href="https://www.google.com" class="btn btn-primary">Google</a>
</div>